<template name="sources_list">
  <div class="grid">
    <a id="submit" class="submit button" href="/sources/add">{{i18n "Add Source"}}</a>
  </div>

  <div class="sources grid list">
  <ul>
    {{#each sourcesList}}
      <li><a href="{{url}}" target="_blank">{{title}}</a>
      <ul>
        {{#each links}}
        <li>{{url}} {{#if selected}} <button data-url="{{url}}" data-source-id="{{../_id}}" class='refresh-source-url btn btn-primary inline'>Refresh</button>{{/if}}</li>
       {{/each}}
      </ul>
      <button data-id="{{_id}}" class="delete-source btn btn-primary inline">Delete</button>
      </li>
    {{/each}}
  </ul>
  </div>
</template>