<template name="sources_list">
  <div class="grid">
    <a id="submit" class="submit button" href="/sources/add">{{i18n "Add Source"}}</a>
  </div>

  <div class="sources grid list">
  <ul>
    {{#each sources}}
      <li><a href="{{_id}}" target="_blank">{{_id}}</a>
      <section>
        <ul>
          {{#each links}}
          <li>{{url}} {{selected}}</li>
          {{/each}}
        </ul>
      </section>
      <button data-id="{{_id}}" class="delete btn btn-primary">Delete</button>
      </li>
    {{/each}}
  </ul>
  </div>
</template>